<h1>Hotels</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Timezone</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    <% if @hotels.empty? %>
      <tr>
        <td colspan="3"><%= t("admin.hotels.index.empty") %></td>
      </tr>
    <% else %>
      <% @hotels.each do |hotel| %>
        <tr>
          <td><%= hotel.name %></td>
          <td><%= hotel.timezone %></td>
          <td><%= l(hotel.created_at, format: :short) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
